extends ./layout

block breadcrumbs
    li
        span Developer Portal

block innercontent
    p Hi,
        span=" "
        a(href='./profile/')=name

    h2 CBMs
    nav
        ul.uk-list.uk-list-divider
            each cbm in cbms
                li
                    a(href=`./cbm/${cbm.id}/`)=cbm.name
            else
                p n/a
    a.uk-button.uk-button-default(href="./cbm/new/") Create new CBM
