extends ./layout

block breadcrumbs
    li
        span Developer Portal

block innercontent
    p Hi,
        span=" "
        a(href='./profile/')=name

    h2 FEMs
    nav
        ul.uk-list.uk-list-divider
            each fem in fems
                li
                    a(href=`./fem/${fem.id}/`)=fem.name
            else
                p n/a
    a.uk-button.uk-button-default(href="./fem/new/") Create new FEM
