extends ./layout

block breadcrumbs
    li
        span Developer Portal

block innercontent
    p Hi,
        span=" "
        a(href='./profile/')=name

    h2 CBMs
    a(href="./cbm/new/") Create new CBM
    nav
        ul
        each cbm in cbms
            li
                a(href=`./cbm/${cbm.id}/`)=cbm.name
        else
            p n/a
