extends ../layout

block navbar-right
    ul.uk-navbar-nav
        li.uk-navbar-item
            a(href='/dev/logout/') Logout

block content
    div.uk-padding
        ul.uk-breadcrumb
            block breadcrumbs
                li
                    a(href='/dev/') Developer Portal
        block innercontent

