extends layout

block content
    h1 Password Reset
    if error
        p=error
    form(method='post')
        label New password
            br
            input(name='new1' type='password' required)
        br
        label New password (repeated)
            br
            input(name='new2' type='password' required)
        br
        input(type='submit' value='Reset password')
