body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #008575;
}

table {
  th, td {
    text-align: left;
  }
}

code {
  display: block;
  background: #EEE;
  margin: -0.5em;
  padding: 0.5em;
}

textarea {
  width: 100%;
  resize: vertical;
}
