// site.scss
$global-font-family: 'Libre Franklin', sans-serif;

$primary-color: #ffc107;

$global-primary-background: $primary-color;
$button-primary-color: #000;
$global-link-color: saturate(darken($primary-color, 50%), 0%);

// 1. Your custom variables and variable overwrites.
//@import "theme/accordion.scss";
// ... import all

// 2. Import default variables and available mixins.
@import "../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
//@import "theme/accordion-mixins.scss";
// ... import all

// 4. Import UIkit
//@import "uikit/scss/uikit-theme.scss";
@import "../../node_modules/uikit/src/scss/uikit.scss";
