// site.scss
$global-font-family: 'Libre Franklin', sans-serif;

$global-primary-background: #ffc107;
$button-primary-color: #000;
$global-link-color: #ffc107;

// 1. Your custom variables and variable overwrites.
//@import "theme/accordion.scss";
// ... import all

// 2. Import default variables and available mixins.
@import "uikit/scss/variables.scss";
@import "uikit/scss/mixins.scss";

// 3. Your custom mixin overwrites.
//@import "theme/accordion-mixins.scss";
// ... import all

// 4. Import UIkit
@import "uikit/scss/uikit-theme.scss";
