extends ../../layout

block content
    h1 Change password
    if error
        p=error
    form(method='post')
        p
            label Old password
                input(type='password' name='old' required)
        p
            label New password
                input(type='password' name='new1' required)
            br
            label Repeat new password
                input(type='password' name='new2' required)
        input(type='submit' value='Change password')

