extends ../layout

block append breadcrumbs
    li
        a(href='/dev/profile/') Profile
    li
        span Change password

block innercontent
    h1 Change password
    if error
        p=error
    form(method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        p
            label.uk-form-label Old password
                input.uk-input(type='password' name='old' required)
        p
            label.uk-form-label New password
                input.uk-input(type='password' name='new1' required)
            br
            label.uk-form-label Repeat new password
                input.uk-input(type='password' name='new2' required)

        input.uk-button.uk-button-primary(type='submit' value='Change password')

