extends ../layout

block append breadcrumbs
    li
        a(href='/dev/profile/') Profile
    li
        span Change Email

block innercontent
    h1 Change Email
    p After submitting, you'll need to verify the new email address after saving.
    if error
        p=error

    form(method='post')
        p
            label.uk-form-label New Email Address
                input.uk-input(type='email' name='email' required)
        input.uk-button.uk-button-primary(type='submit' value='Change email')

