extends ../layout

block append breadcrumbs
    li
        a(href='/dev/profile/') Profile
    li
        span Change Name

block innercontent
    h1 Change name
    if error
        p=error
    form(method='post')
        p
            label.uk-form-label Name
                input.uk-input(type='text' name='name' value=user.name required)

        input.uk-button.uk-button-primary(type='submit' value='Change name')

