extends ../layout

block innercontent
    h1 New CBM
    p Please insert the CBMs metadata. This can be changed later.
    if error
        p=error
    form(method='post')
        h3 Required Fields
        label Project Name (for internal use, not visible to users)
            input(name='name' required)
        br
        input(type='submit' value='Create CBM')
