extends layout

block navbar-right

block content
    div.uk-child-width-1-2.uk-height-viewport(uk-grid, uk-height-viewport='offset-top: true; offset-bottom: true')
        div.uk-cover-container
            img(src='/img/cbm-hero-blue.jpg', uk-cover)
        div.uk-padding
            block auth

block footer
