extends layout

block content
    .uk-tile.uk-tile-secondary.uk-text-center.uk-padding-large
        h1= title
        p Welcome to #{title}
        p
            a.uk-button.uk-button-primary(href='/dev/') Developer Portal
        p
            a(href='/maintainer/') Login as Maintainer

    div.uk-padding
        h2 Most successful FEMs
        p Coming soon
        //.uk-grid.uk-grid-match.uk-grid-small(uk-grid, class='uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-2@s' uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200")
        //    each fem in [0,0,0,0,0,0,0,0,0,0,0,0]
        //        div
        //            .uk-card.uk-card-default
        //                .uk-card-header
        //                    .uk-grid-small.uk-flex-middle(uk-grid)
        //                        .uk-width-auto
        //                            img.uk-border-circle(width=64, height=64, src='https://via.placeholder.com/64')
        //                        .uk-width-expand
        //                            h3.uk-card-title.uk-margin-remove-bottom FEM
        //                            p.uk-text-meta.uk-margin-remove-top Some publisher
        //                .uk-card-body
        //                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cupiditate delectus incidunt inventore quod similique veritatis. Aperiam asperiores, doloremque doloribus labore minus neque nisi odio officia, optio quia recusandae tempore.
