extends auth-layout

block auth
    h1 Password Reset
    p Please enter your account's email address in order to reset the password.
    if error
        .uk-alert-danger(uk-alert)=error
    form(method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        label.uk-form-label Email
            br
            input.uk-input(name='email' type='email')
        br
        input.uk-button.uk-button-primary.uk-margin(type='submit' value='Reset password')
