extends layout

block content
    .uk-padding
        h1 Password Reset
        if error
            .uk-alert-danger(uk-alert)=error
        form(method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            label.uk-form-label New password
                br
                input.uk-input(name='new1' type='password' required)
            br
            label.uk-form-label New password (repeated)
                br
                input.uk-input(name='new2' type='password' required)
            br
            input.uk-button.uk-button-primary.uk-margin(type='submit' value='Reset password')
