extends auth-layout

block auth
    h1 Sign Up
    p After signing up, you'll need to verify your email address. After that, you'll be ready to create your own FEMs.

    p Already have an account?
        | &nbsp;
        a(href='../login/') Log in

    if (error && error.length > 0)
        .uk-alert-danger(uk-alert)=error
    form(method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        label.uk-form-label Email
            br
            input.uk-input(name='email' type='email', required, autofocus=true)
        br
        label.uk-form-label Company/Personal Name (visible to users)
            br
            input.uk-input(type='text' name='name' required)
        br
        label.uk-form-label Password
            br
            input.uk-input(name='p1' type='password', required)
        br
        label.uk-form-label Repeat Password
            br
            input.uk-input(name='p2' type='password', required)
        br
        label.uk-form-label
            input.uk-checkbox(type='checkbox' name='privacy-policy')
            | &nbsp;I have read and accept the #[a(href='/privacy-policy/') Privacy Policy]
        br
        input.uk-margin-top.uk-button.uk-button-primary(type='submit' value='Sign up')

