extends ../layout

block content
    h1 Developer Area
    p Hi,
        span=" "
        a(href='./profile/')=name
        span=" "
        a(href="./logout/") Log out...

    h2 CBMs
    a(href="./cbm/new/") Create new CBM
    nav
        ul
        each cbm in cbms
            li
                a(href=`./cbm/${cbm.id}/`)=cbm.name
        else
            p n/a
