extends ../layout

block content
    div.uk-padding
        h1 Legal Notice
        p
            b Information in accordance with §5 TMG:
        p
            | Pablo Klaschka<br>
            | Scheffelstraße 15a<br>
            | 97072 Würzburg

        h2 Contact Information
        p
            | Phone:&nbsp;
            a(href='tel:00499318806945') +49 931 8806945<br>
            | E-Mail:&nbsp;
            a(href='mailto:xdplugins@pabloklaschka.de') cockpit@fliegwerk.com<br>

