//-
    Password reset
p Hi, #{name}
p A password reset was request for your account. Please open the link below in order to reset your password:
p
    a(href=link)=link
p
    b That wasn't you?
    | 
    | In that case, make sure your email account is safe and feel free to ignore this message. 
    | The only way to reset the password is using the link in this email.
p Best,
    br
    Your Server State Team
