extends ../../layout

block content
    h1 Change Email
    p After submitting, you'll need to verify the new email address after saving.
    if error
        p=error

    form(method='post')
        p
            label New Email Address
                input(type='email' name='email' required)
        input(type='submit' value='Change email')

