p Hi, #{name}
p Your email was registered for an account at the CBM registry at #{url}. Please verify your email address by opening the link below.
p
    a(href=verificationLink)=verificationLink
p
    b That wasn't you?
    | 
    | In that case, please feel free to ignore this email. We're sorry for the inconvenience.
p Best,
    br
    Your Server State Team
